package layout

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link href="./public/styles.css" rel="stylesheet"/>
			<title>Go Downloader</title>
		</head>
		<body class="max-w-6xl mx-auto antialiased">
			{ children... }
		</body>
	</html>
}
